services:
  traefik:
    image: 'traefik:v3.2.3'
    container_name: 'Reverse-Proxy'
    command:
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'
      - '--entrypoints.web.address=:80'
    ports:
      - 80:80
    depends_on:
      - celeryband
    restart: always
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    networks:
      - internal

  celeryband:
    build:
      context: .
      args:
        - COMMIT_HASH=abcdefg
    image: ${IMAGE_NAME}
    networks:
      - internal
    volumes:
      - db-data:.data/db.sqlite3
    environment:
      - INSTANCE_NAME=${INSTANCE_NAME}
      - DATABASE_HOST=database
      - NUXT_SESSION_PASSWORD=PLEASE_PROVIDE_A_SECURE_PASSWORD
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.celeryband.rule=PathPrefix(`/`)'
      - 'traefik.http.services.celeryband.loadbalancer.server.port=3000'

volumes:
  db-data:

networks:
  internal:
